<label> Name </label>
<input type="text" name = "name" value = "<%= author.name %>">

/*named such because we are following a naming convention and it says to do so for partial files
*/to differentiate between server files